.home7{
    background-color: #edede0;
    
    /* margin-top: -10%; */
    padding-top: 2%;
    padding-bottom:5%;
}
.home7-a{
    height: 90%;
    margin:auto;
    width: 65%;
    margin-top: 3%;
    background-color: #99D6CC;
    border: #99D6CC solid transparent;
    border-radius: 40px;
    

}
.home7-a>p{
    padding-top: 5% ;
    margin-bottom:-3%;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
    color: #381Fd1;
    font-size: 1.1rem;
}
.home7-a>h2{ 
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -.01em;
    line-height: 1.1;
}
.home7-b{
    display: grid;
    margin: 10%;
    grid-template-columns: 60% 60%;
    /* grid-template-rows: 70% 30%; */
}
.Home7Components{
    width: 100%;
    margin: 5%;
    padding-right: 5%;
   
}
/* .Home7Components-img{
  
}*/
.Home7Components > p{
    font-size: 1.3rem;
    display: flex;
    align-items:right ;
    justify-content: right;
    width: 60%;
}
.Home7Components > h3{
     font-size:1.74rem;
    color: #381Fd1;
} 